.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_list {
    font-size: 20px;
}

@media screen and (max-width: 751px) {
    
    .about_list {
        font-size: 18px;
    }
    
}