html,
body {
  padding: 0;
  margin: 0;
  font-family: IBM-Plex-Sans;
  color: #36261E;
  background-color:#FFECEC;
  font-size: 24px;
}

@font-face {
  font-family: "IBM-Plex-Sans";
  src: url(/fonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf);
}

a:link {
  color: #5B7BA2;
  text-decoration: none;
}

a:visited {
  color: #D89679;
  text-decoration: none;
}

a:hover {
  color: #79A5D8;
  text-decoration: none;
}

a:active {
  color: #838B6A;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  cursor: pointer;
}

.heading_01 {
  color: #626472;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.heading_02 {
  color: #838B6A;
  font-size: 24px;
  margin-bottom: 20px;
}

.heading_03 {
  color: #36261E;
  font-size: 22px;
  margin-bottom: 20px;
}

.page {
  position: relative;
  margin-top: 120px;
  left: 0; 
  right: 0;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 751px) {

  body {
    font-size: 18px;
  }

  .page {
      margin-top: 60px;
  }

  .heading_01 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .heading_02 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .heading_03 {
    font-size: 16px;
    margin-bottom: 10px;
  }

}